@using CascadianAerialRobotics.Website.Models
@model CommonComponentModel

<div id="top" class="slider">
    <div id="bgndVideo" data-property="{videoURL:'https://youtu.be/ajeoCPkFyt4',containment:'.full-slider', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default', useOnMobile:true }" class="player">

    </div>
    <div class="full-slider background-image intro nowebpsupport" style="background-image:url('@(Model.PubliclyExposedStringsProvider.ModernImagesUrl)/mapping-background.webp')" fallback-image="/mapping-background.jpg" >
        <!-- Start slide-->
        <div class="slide bg-mask-small full-vh">
            <div class="container-slide vertical-align center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="@(Model.PubliclyExposedStringsProvider.ModernImagesUrl)/logo-no-background.png" alt="Cascadian Aerial Robotics" height="277" width="784" style="display:inline; max-width:100%;height: auto;">
                            <div class="description-slide">DRONE MAPPING AND PHOTOGRAMMETRY<br>At the intersection of Engineering and Art</div>
                            <div class="buttons-section"><a id="icon-play" href="https://www.youtube.com/watch?v=YLTibFCrgXE" class="icon-play anim-shadow"><i class="pe-7s-play"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>