<div id="into" data-image="img/bgn1.jpg" class="into-slider background-image">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="item">
                <i class="pe-7s-glasses"></i>
                <h4>Why we do it</h4>
                <p>We love to find new ways to apply technology and use data to improve your business</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <i class="pe-7s-science"></i>
                <h4>What we do</h4>
                <p>We provide aerial mapping, photo and video services to any industry that can benefit from it</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <i class="pe-7s-umbrella"></i>
                <h4>How we do it</h4>
                <p>We do it by following the highest safety standards and compliance with the FAA, with a scientific approach. And insured at least for 1M USD</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <i class="pe-7s-smile"></i>
                <h4>What really matters</h4>
                <p>Our focus is in your outcome, not our output. We work until you are happy and provided with actionable data</p>
            </div>
        </div>
    </div>
</div>
</div>


