<section id="contact" data-image="img/bg3.jpg" class="section-contact-with-us bg-dark-section background-image">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <div class="heading-title small-heading center">
                    <h2>Contact <span>with us</span></h2>
                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="contact-wrap">
                    <p class="phone"><i aria-hidden="true" class="fa fa-phone"></i>+58(667) 543 54 55</p>
                    <p class="street">359 CENTRAL MIRA STREET<br>VATUTINA 79 / 99 UKRAINE</p><a href="malito:" class="email"><i aria-hidden="true" class="fa fa-envelope-o"></i>Support@DOMIAN.COM</a><a href="malito:" class="email"><i aria-hidden="true" class="fa fa-envelope-o"></i>Support@DOMIAN.COM</a>
                    <!--Start social links-->
                    <ul class="social-links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                    <!--End social links-->
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-form">
                    <form class="contact-form-sub contact-form-bg">
                        <!-- Input name-->
                        <div class="col-md-6">
                            <input type="text" required="" name="Name" placeholder=" Your name" class="form-control">
                        </div>
                        <!-- Input email-->
                        <div class="col-md-6">
                            <input type="email" required="" name="Email" placeholder="Your email" class="form-control">
                        </div>
                        <!-- textarea-->
                        <div class="col-md-12">
                            <textarea rows="9" required="" name="Message" placeholder="Your message" class="form-control"></textarea>
                            <p class="success-msg hidden notify">Your message has been send</p>
                            <p class="error-msg hidden notify">Error sending message</p>
                            <input type="submit" value="Send" class="btn btn-blue btn-form">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>