<section data-image="img/bg3.jpg" class="section-trigger bg-dark-section background-image" style="background-image: url(&quot;img/bg3.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-title small-heading center">
                    <h2 class="animated fadeInDown" style="opacity: 1;">Like our creative <span>works ?</span></h2>
                </div>
                <div class="buttons-section center"><a href="#" class="btn accent-btn large-btn">Start project</a> <a href="#" class="btn accent-btn large-btn">Book an appointment</a></div>
            </div>
        </div>
    </div>
</section>