<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<section id="bookanappointment" data-image="https://www.cascadianaerialrobotics.com/img/background-cascadia.jpg" class="section-trigger bg-dark-section background-image" style="background-image: url(&quot;https://www.cascadianaerialrobotics.com/img/background-cascadia.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-title small-heading center">
                    <h2 class="animated fadeInDown" style="opacity: 1;">Are you <span>ready</span> to work with us?</h2>
                </div>
                <div class="buttons-section center">
                    <a href="" class="btn accent-btn large-btn" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/cascadian-aerial-robotics?hide_landing_page_details=1'});return false;">Book an appointment</a>
                </div>
            </div>
        </div>
    </div>
</section>