<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="/img/cascadian-logo.png" alt="logo" class="logo-white" style="height:76px;width:233px;">
                <!--Start social links-->
                <ul class="social-links">
                    <li><a href="https://www.instagram.com/cascadianaerialrobotics/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.instagram.com/aec_cascadianaerialrobotics/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/cascadianaerialrobotics/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCkhKMfALY9Fb-frdYu4N3uw" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
                <!--End social links-->
                <!--Start social links-->
                <ul class="social-links">
                    <li><a href="#" target="_blank"><i class="fa fa-slack"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-beer"></i></a></li>
                    <li><a href="https://github.com/cascadian-aerial-robotics"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa fa-slideshare"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-calendar"></i></a></li>
                </ul>
                <!--End social links-->
            </div>
         </div>
     </div>
</footer>