<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div style="text-align:center">
                    <img src="/img/cascadian-logo.png" alt="logo" class="logo-white" style="height:76px;width:233px;">
                </div>
                <p>We are a creative agency with a passion for design & developing beautiful creations.</p>
                <ul class="social-links">
                    <li><a href="https://www.instagram.com/cascadianaerialrobotics/" target="_blank" title="Cascadian Aerial Robotics LLC (&#64;cascadianaerialrobotics) • Instagram photos and videos"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.instagram.com/aec_cascadianaerialrobotics/" target="_blank" title="AEC&#64;Cascadian Aerial Robotics (&#64;aec_cascadianaerialrobotics) • Instagram photos and videos"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/cascadianaerialrobotics/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCkhKMfALY9Fb-frdYu4N3uw" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
                <ul class="social-links">
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://cascadian-aerial.slack.com/join/shared_invite/enQtNzAzNDA5MDY3NzE1LTBjNmZhYTAxNGU5NDhlNzE0NDgxZWVlYjZjNmFhZWEzYjRlMzdhMDJkMTg5ZmJhMDk3ZjJkZjIyNGNmNmEyNzY" target="_blank"><i class="fa fa-slack"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa-facebook-official"></i></a></li>
                    <li><a href="#"><i class="fa fa-slideshare"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-calendar"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="links">
                    <h5>Addtional links</h5>
                    <ul class="list">
                        <li><a href="#">More links</a></li>
                        <li><a href="#">More links</a></li>
                        <li><a href="#">More links</a></li>
                        <li><a href="#">More links</a></li>
                        <li><a href="#">More links</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="links">
                    <h5>Pages</h5>
                    <ul class="list">
                        <li><a href="about/">About</a></li>
                        <li><a href="blog/">Blog</a></li>
                        <li><a href="services/">Services</a></li>
                        <li><a href="portfolio/">Portfolio page</a></li>
                        <li><a href="privacy/">Privacy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <!--TODO: Issue #3: Contact information on the footer does not have the same format-  https://github.com/cascadian-aerial-robotics/cascadian-main-website/issues/3 -->
                <div class="links">
                    <h5>Contact</h5>
                    <p>
                        Redmond, Washington<br>
                        <a href="mailto:contact@cascadianaerialrobotics.com" style="font-size:14px;color:white">contact@cascadianaerialrobotics.com</a><br>
                        (209)643-1193<br />
                        <a href="https://cascadian-aerial.slack.com/" style="font-size:14px;color:white">cascadian-aerial.slack.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="down-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>© 2019 All Rights Reserved. Cascadian Aerial Robotics</p>
                    <ul class="footer-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#about" class="smooth-scroll">About</a></li>
                        <li><a href="#services" class="smooth-scroll">Services</a></li>
                        <li><a href="#portfolio" class="smooth-scroll">Our works</a></li>
                        <li><a href="#skills" class="smooth-scroll">Skills</a></li>
                        <li> <a href="#contact" class="smooth-scroll">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="top icon-down toTopFromBottom"><a href="#top" class="smooth-scroll"><i class="pe-7s-angle-up"></i></a></div>