@using CascadianAerialRobotics.Website.Models
@model CommonComponentModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!-- Start Content section-->
    <section data-image="img/bgn6.jpg" id="top" class="display-page img-parallax bg-mask background-image">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <!-- heading title-->
                        <h1>Northwest 107</h1>
                        <!-- horizontal line--><span class="horizontal-line"></span><span></span>
                        <!-- description slider-->
                        <div class="description">
                            <p>rchitecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End content section-->
    <div class="container single-blog">
        <div class="row">
            <div id="sidebar" class="col-md-3 col-sm-3">
                <form role="search" method="get" action="#" class="search-form">
                    <label>
                        <span class="screen-reader-text">Search for:</span>
                        <input type="search" placeholder="Search …" value="" name="s" class="search-field">
                    </label>
                    <input type="submit" value="Search" class="search-submit">
                </form>
                <h4>Categories</h4>
                <ul>
                    <li class="cat-item"><a href="#">Android</a></li>
                    <li class="cat-item"><a href="#">Design</a></li>
                    <li class="cat-item"><a href="#">iOS</a></li>
                    <li class="cat-item"><a href="#">Mobile app</a></li>
                    <li class="cat-item"><a href="#">Uncategorized</a></li>
                    <li class="cat-item"><a href="#">Windows</a></li>
                </ul>
                <h4>Categories</h4>
                <ul>
                    <li><a href="#">October 2015</a></li>
                    <li><a href="#">July 2010</a></li>
                    <li><a href="#">February 2010</a></li>
                </ul>
                <h4>Tags</h4>
                <div class="tagcloud"><a href="#">Android</a><a href="#">Company</a><a href="#">Customer service</a><a href="#">Design</a><a href="#">Development</a><a href="#">Features</a><a href="#">In the news</a><a href="#">iOS</a><a href="#">Watch</a><a href="#">Windows</a></div>
                <h4>Social</h4>
                <!--Start social links-->
                <ul class="social-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-8 col-sm-8 col-md-offset-1 col-sm-offset-1 single-post">
                <div class="post type-post format-image sticky">
                    <div class="post-thumb"><a href="blog-single.html" title="New features released" class="img-wrap"><img src="/blog/blog-pix4dconference.webp" alt="img09"></a></div>
                    <!--Start post data-->
                    <div class="post-data">
                        <p class="autor"><a href="#">by Erik Momsen</a></p>
                        <p class="data"><a href="#">13 October 2018</a></p>
                        <p class="category"><a href="#">Financial Service</a></p>
                        <p class="comments">55 Comments</p>
                    </div>
                    <!--End post data-->
                    <div class="content">
                        <h3><a href="blog-single.html" title="New features released">Default post with image.</a></h3>
                        <p>Installations are becoming more importants, but if current trends continue we seds ut should be looking to seds ut others solutions. Complete, comprehensive prefabrication of components is complicated because it is difficult ut to integrate water.</p><a href="blog-single.html" title="Single post" class="btn btn-default">Read more</a><span class="format">image</span>
                    </div>
                </div>
                <!-- Start post-->
                <div class="post type-post format-gallery">
                    <div class="post-thumb">
                        <div class="slider-wrap gallery-slide">
                            <div class="slider-portfolio-single">
                                <div class="slide"><img src="img/blog2.jpg" alt="work" class="img-responsive"></div>
                                <div class="slide"><img src="img/blog3.jpg" alt="work" class="img-responsive"></div>
                                <div class="slide"><img src="img/blog4.jpg" alt="work" class="img-responsive"></div>
                                <div class="slide"><img src="img/blog1.jpg" alt="work" class="img-responsive"></div>
                            </div>
                            <!-- Strat Control carousel-->
                            <div class="control-portfolio-slider prev-next-block-rotate opacity-control">
                                <div class="wrap-prev">
                                    <div class="prev"><i aria-hidden="true" class="fa fa-angle-left"></i></div>
                                </div>
                                <div class="wrap-next">
                                    <div class="next"><i aria-hidden="true" class="fa fa-angle-right"></i></div>
                                </div>
                            </div>
                            <!--Control sliders-->
                            <div class="dots-control-carousel dots-control-portfolio-slider"></div>
                        </div>
                    </div>
                    <!--Start post data-->
                    <div class="post-data">
                        <p class="autor"><a href="#">by Erik Momsen</a></p>
                        <p class="data"><a href="#">13 October 2018</a></p>
                        <p class="category"><a href="#">Financial Service</a></p>
                        <p class="comments">21 Comments</p>
                    </div>
                    <!--End post data-->
                    <div class="content">
                        <h3><a href="blog-single-gallery.html" title="New features released">Default post with gallery.</a></h3>
                        <p>Installations are becoming more importants, but if current trends continue we seds ut should be looking to seds ut others solutions. Complete, comprehensive prefabrication of components is complicated because it is difficult ut to integrate water.</p><a href="blog-single-gallery.html" title="Single post" class="btn btn-default">Read more</a><span class="format">image</span>
                    </div>
                </div>
                <!-- end post-->
                <!-- Start post-->
                <div class="post type-post format-video">
                    <div class="post-thumb">
                        <div class="video-post">
                            <iframe height="431" src="https://www.youtube.com/embed/DH6d8-fTsww" allowfullscreen></iframe>
                        </div>
                    </div>
                    <!--Start post data-->
                    <div class="post-data">
                        <p class="autor"><a href="#">by Erik Momsen</a></p>
                        <p class="data"><a href="#">13 October 2018</a></p>
                        <p class="category"><a href="#">Financial Service</a></p>
                        <p class="comments">5 Comments</p>
                    </div>
                    <!--End post data-->
                    <div class="content">
                        <h3><a href="blog-single-youtube.html" title="New features released">Default post with YouTube.</a></h3>
                        <p>Installations are becoming more importants, but if current trends continue we seds ut should be looking to seds ut others solutions. Complete, comprehensive prefabrication of components is complicated because it is difficult ut to integrate water.</p><a href="blog-single-youtube.html" title="Single post" class="btn btn-default">Read more</a><span class="format">image</span>
                    </div>
                </div>
                <!-- end post-->
                <!-- Start post-->
                <div class="post type-post format-video">
                    <div class="post-thumb">
                        <div class="video-post">
                            <iframe src="https://player.vimeo.com/video/124749716?color=1c58ed&amp;amp;title=0&amp;amp;byline=0&amp;amp;portrait=0&amp;amp;badge=0" height="431" allowfullscreen=""></iframe>
                        </div>
                    </div>
                    <!--Start post data-->
                    <div class="post-data">
                        <p class="autor"><a href="#">by Erik Momsen</a></p>
                        <p class="data"><a href="#">13 October 2018</a></p>
                        <p class="category"><a href="#">Financial Service</a></p>
                        <p class="comments">43 Comments</p>
                    </div>
                    <!--End post data-->
                    <div class="content">
                        <h3><a href="blog-single-vimeo.html" title="New features released">Default post with Vimeo.</a></h3>
                        <p>Installations are becoming more importants, but if current trends continue we seds ut should be looking to seds ut others solutions. Complete, comprehensive prefabrication of components is complicated because it is difficult ut to integrate water.</p><a href="blog-single-vimeo.html" title="Single post" class="btn btn-default">Read more</a><span class="format">image</span>
                    </div>
                </div>
                <!-- end post-->
            </div>
            <!-- end single post-->
        </div>
        <!-- end row-->
    </div>
    <!-- end container-->
    <!-- Start pagination-->
    <div class="pagination-btns">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <nav class="navigation pagination">
                        <h2 class="screen-reader-text">Posts navigation</h2>
                        <div class="nav-links"><span class="page-numbers current">1</span><a href="#" class="page-numbers">2</a><a href="#" class="next page-numbers">Next</a></div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- end pagination-->
    <!-- Old browsers support-->
    <!--[if lt IE 9]>
    <script src="libs/html5shiv/es5-shim.min.js"></script>
    <script src="libs/html5shiv/html5shiv.min.js"></script>
    <script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="libs/respond/respond.min.js"></script>
    <![endif]-->