
<header id="top-nav" class="top-nav page-header">
    <div class="container">
        @*<a href="#" class="logo smooth-scroll"><img src="~/img/cascadian-logo.png" alt="logo" class="logo-white"><img src="~/img/cascadian-logo-dark.png" alt="logo" class="logo-dark"></a>*@
        <a asp-action="index" asp-controller="home"  class="logo smooth-scroll"><img src="~/img/cascadian-logo.png" alt="logo" class="logo-white"><img src="~/img/cascadian-logo-dark.png" alt="logo" class="logo-dark"></a>
        @*<nav class="top-menu">
            <ul class="sf-menu">
                <!--Menu default-->
                <li>
                <li>
                    <a asp-action="index" asp-controller="home">Home</a>
                    <ul>
                        <li><a asp-action="index" asp-controller="home" asp-fragment="whatwedo">What we do</a></li>
                        <li><a asp-action="index" asp-controller="home" asp-fragment="ourguarantee">Our guarantee</a></li>
                        <li><a asp-action="index" asp-controller="home" asp-fragment="portfolio">Some of our work</a></li>
                        <li><a asp-action="index" asp-controller="home" asp-fragment="services">Our services</a></li>
                        <li><a asp-action="index" asp-controller="home" asp-fragment="industries">Industries</a></li>
                        <li><a asp-action="index" asp-controller="home" asp-fragment="bookanappointment">Book an appointment</a></li>
                        <li><a asp-action="index" asp-controller="home" asp-fragment="whychooseus">Why choose us</a></li>
                        <li><a asp-action="index" asp-controller="home" asp-fragment="getintouch">Get in touch</a></li>
                        <li><a asp-action="index" asp-controller="home" asp-fragment="citiesserved">Cities we serve</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/">Services</a>
                    <ul>
                        <li>
                            <a href="#">Mapping</a>
                            <ul>
                                <li><a href="#">Surverying</a></li>
                                <li><a href="#">Measurements</a></li>
                                <li><a href="#">3D modeling</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Pages</a>
                    <ul>
                        <li>
                            <a href="#">Industries</a>
                            <ul>
                                <li>
                                    <a href="#">Architecture</a>
                                    <a href="#">Construction</a>
                                    <a href="#">Engineering</a>
                                    <a href="#">Golf clubs</a>
                                    <a href="#">Marketing</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Deliverables</a>
                            <ul>
                                <li>
                                    <a href="#">Ortho</a>
                                    <a href="#">DEM</a>
                                    <a href="#">3D models</a>
                                    <a href="#">Progression shots</a>
                                    <a href="#">Beauty shots</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li><a href="#" class="smooth-scroll">Blog</a></li>
                <li><a href="#services" class="smooth-scroll">Pricing</a></li>
                <li>
                    <a href="/bookings" class="smooth-scroll">Bookings</a>
                    <ul>
                        <li>
                            <a href="#">15 minute call</a>
                            <a href="#">30 minute meeting</a>
                            <a href="#">One hour meeting</a>
                            <a href="#">One hour site visit</a>
                            <a href="#">Two hours site visit</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- Start toggle menu--><a href="#" class="toggle-mnu"><span></span></a>
            <!-- Start toggle menu--><a href="#" class="toggle-top"><span></span><span></span><span></span><span></span><span></span></a>
        </nav>

        <div id="mobile-menu">
            <div class="inner-wrap">
                <nav>
                    <ul class="nav_menu">
                        <li class="smooth-scroll">
                            <a asp-action="index" asp-controller="home">Home</a>                 
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="contact.html">Contact Default</a></li>

                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>*@

    </div>
</header>

@*<div data-image="img/background-nikehq.jpg" class="fullscreen-topnav rotate background-image">
    <!-- Start container-->
    <div class="container-fluid height-half">
        <div class="row height-full no-padding-bottom">
            <div class="items height-full">
                <a href="faq.html" class="col-lg-3 col-md-6 col-sm-6 col-xs-12 height-full link">
                    <div class="item table">
                        <div class="content-nav table-cell">
                            <p>FAQ - page</p>
                            <h2>Need help ?</h2>
                        </div>
                    </div>
                </a>
                <a href="services.html" class="col-lg-3 col-md-6 col-sm-6 col-xs-12 col-lg-push-6 height-full link ">
                    <div class="item table">
                        <div class="content-nav table-cell">
                            <p>All services</p>
                            <h2>Our services</h2>
                        </div>
                    </div>
                </a>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-lg-pull-3 height-full text-item">
                    <div class="item table">
                        <div class="content-nav table-cell">
                            <h3>Fact about us:</h3>
                            <p>In 2018 we are Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start container-->
    <div class="container-fluid height-half-60">
        <div class="row no-padding-bottom height-full">
            <div class="items height-full">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 video-play height-full">
                    <div class="video-section table">
                        <div class="table-cell">
                            <a href="https://www.youtube.com/watch?v=ajeoCPkFyt4" class="icon-play anim-shadow"><i class="pe-7s-play"></i></a>
                            <p>Demo Reel Full </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-full-screen height-full">
                    <div class="content table">
                        <div class="table-cell">
                            <h3>Start project:</h3>
                            <form class="contact-form-sub">
                                <input type="text" name="Name" placeholder="Your Name">
                                <input type="text" name="Email" placeholder="Email *">
                                <select name="Servises" id="selectize" class="demo-default">
                                    <option value="">Choose service:</option>
                                    <option value="Services">Services 1</option>
                                    <option value="Services 2">Services 2</option>
                                    <option value="Services 3">Services 3</option>
                                </select>
                                <textarea name="Message" placeholder="Message *" cols="3" rows="5"></textarea>
                                <p class="success-msg hidden notify">Your order has been send</p>
                                <p class="success-msg hidden notify">Error sending order</p>
                                <input type="submit" value="Send message" class="btn">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End container-->
</div>*@