
@{
    ViewData["Title"] = "Bookings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section data-image="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/background-nikehq.webp" id="top" class="display-page img-parallax bg-mask background-image" style="background-position: 50% 0px; background-image: url(&quot;https://cascadian-aerial-robotics-cdn1.azureedge.net/img/background-nikehq.webp&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <!-- heading title-->
                    <h1>Book an appointment</h1>
                    <!-- horizontal line--><span class="horizontal-line"></span><span></span>
                    <!-- description slider-->
                    <div class="description">
                        <p>Take the first step to success and schedule a meeting with us.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section class="contact-form">*@
<!-- Calendly inline widget begin -->
    <div class="calendly-inline-widget" data-url="https://calendly.com/cascadian-aerial-robotics?hide_landing_page_details=1" style="min-width:320px;height:930px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    <!-- Calendly inline widget end -->


@*</section>*@

