@using CascadianAerialRobotics.Website.Models
@model CommonComponentModel

@{
    ViewData["Title"] = "Frequently asked questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Frequently asked questions</h1>*@

<!-- Start Content section-->
<section data-image="@(Model.PubliclyExposedStringsProvider.StaticFilesUrl)/img/background-mountrainier.webp" id="top" class="display-page bg-dark-section background-image">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <!-- heading title-->
                    <h1>Frequently Asked<span> Questions</span></h1>
                    <!-- horizontal line--><span class="horizontal-line"></span><span></span>
                    <!-- description slider-->
                    <div class="description">
                        <p>We like to create a good and high-quality products. <br>We love clients who appreciate the value of our work, and who are willing to invest in themselves.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="faq-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="acc-head">What is kanter</h2>
                <div class="accordion">
                    <!--tab-->
                    <h3><i class="fa fa-question"></i>How we work</h3>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.</p>
                    </div>
                    <!--tab-->
                    <h3><i class="fa fa-question"></i>What technologies do we use</h3>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.</p>
                    </div>
                    <!--tab-->
                    <h3><i class="fa fa-question"></i>Our warranty</h3>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.</p>
                    </div>
                </div>
                <!--Next accordion-->
                <h2 class="acc-head">Contract</h2>
                <div class="accordion">
                    <!--tab-->
                    <h3><i class="fa fa-question"></i>How we work</h3>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.</p>
                    </div>
                    <!--tab-->
                    <h3><i class="fa fa-question"></i>What technologies do we use</h3>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.</p>
                    </div>
                    <!--tab-->
                    <h3><i class="fa fa-question"></i>Our warranty</h3>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.</p>
                    </div>
                </div>
                <!--Next accordion-->
                <h2 class="acc-head">Payment</h2>
                <div class="accordion">
                    <!--tab-->
                    <h3><i class="fa fa-question"></i>How we work</h3>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.</p>
                    </div>
                    <!--tab-->
                    <h3><i class="fa fa-question"></i>What technologies do we use</h3>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.</p>
                    </div>
                    <!--tab-->
                    <h3><i class="fa fa-question"></i>Our warranty</h3>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@await Component.InvokeAsync("WantToStartProject")