
@{
    ViewData["Title"] = "Default";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section data-image="img/bg1.jpg" id="top" class="display-page img-parallax bg-mask background-image" style="background-position: 50% 0px; background-image: url(&quot;img/bg1.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <!-- heading title-->
                    <h1>Privacy Policy</h1>
                    <!-- horizontal line--><span class="horizontal-line"></span><span></span>
                    <!-- description slider-->
                    <div class="description">
                        <p>We like to create a good and high-quality products. <br>We love clients who appreciate the value of our work, and who are willing to invest in themselves.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-form">
    <p>This is the bla bla bla</p>
</section>

