<section class="section-choose-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <div class="heading-title center">
                    <h2>Why working with <span>us?</span></h2>
                    <div class="small-desd">We create<span> awesome stuff</span></div>
                        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum</p>
                </div>
            </div>
        </div>
        <div class="row">
                <!--Start item-->
                <div class="col-md-4">
                    <div class="item-about item-choose">
                        <div class="content">
                            <h3>lETS START 2K’TH JOURNEY WITH US</h3>
                            <p>Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.</p>
                        </div>
                    </div>
                </div>
                <!--Start item-->
                <div class="col-md-4">
                    <div class="item-about item-choose">
                        <div class="icon">
                            <i class="pe-7s-shield"></i>
                            <div class="bg-icon"><i class="pe-7s-shield"></i></div>
                        </div>
                        <div class="content">
                            <h3>We take <span>safety </span>seriously</h3>
                            <p>Our highest priority is conducting our operations with highest security, to keep you, your assets, bystanders and manned aviaton safe.</p>
                        </div>
                    </div>
                </div>
                <!--Start item-->
                <div class="col-md-4">
                    <div class="item-about item-choose">
                        <div class="icon">
                            <i class="pe-7s-note2"></i>
                            <div class="bg-icon"><i class="pe-7s-note2"></i></div>
                        </div>
                        <div class="content">
                            <h3>We are <span>compliant</span></h3>
                            <p>Drones share the National Airspace with manned aviation. For this reason the Federal Aviation Administration (FAA) strictly regulates UAV operations. We take these regulations very seriously.</p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <!--Start item-->
            <div class="col-md-4">
                <div class="item-about item-choose">
                    <div class="icon">
                        <i class="pe-7s-target"></i>
                        <div class="bg-icon"><i class="pe-7s-target"></i></div>
                    </div>
                    <div class="content">
                        <h3><span>Result</span> orientation</h3>
                        <p>We don't focus in outputs like how many photos, how much time we are in the air, or how big our models are. What matters to us the <b>your outcome</b>. Your success, is our success.</p>
                    </div>
                </div>
            </div>
            <!--Start item-->
            <div class="col-md-4">
                <div class="item-about item-choose">
                    <div class="icon">
                        <i class="pe-7s-smile"></i>
                        <div class="bg-icon"><i class="pe-7s-smile"></i></div>
                    </div>
                    <div class="content">
                        <h3>Customer <span>satisfaction</span></h3>
                        <p>We understand that all of our customers, like our friends, are different and we love them for their differences. We listen, we empathize with your problems, and we work with you until you are happy. </p>
                    </div>
                </div>
            </div>
            <!--Start item-->
            <div class="col-md-4">
                <div class="item-about item-choose">
                    <div class="icon">
                        <i class="pe-7s-bandaid"></i>
                        <div class="bg-icon"><i class="pe-7s-bandaid"></i></div>
                    </div>
                    <div class="content">
                        <h3>We are problem <span>solvers</span></h3>
                        <p>We don't necesarily adhere to our existing products and force you to use them as is. We like to solve problems. So feel free to talk about them, even though it doesn't seem to be in our portfolio.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!--Start item-->
            <div class="col-md-4">
                <div class="item-about item-choose">
                    <div class="icon">
                        <i class="pe-7s-graph2"></i>
                        <div class="bg-icon"><i class="pe-7s-display1"></i></div>
                    </div>
                    <div class="content">
                        <h3>We produce <span>actionable</span> information</h3>
                        <p>In concordance with our <b>Result orientation</b> value, we strive to produce not just data, but actionable information. We will work with you to conclude in the right interpretacion of the data. </p>
                    </div>
                </div>
            </div>
            <!--Start item-->
            <div class="col-md-4">
                <div class="item-about item-choose">
                    <div class="icon">
                        <i class="pe-7s-link"></i>
                        <div class="bg-icon"><i class="pe-7s-link"></i></div>
                    </div>
                    <div class="content">
                        <h3>Seo <span>optimized</span></h3>
                        <p>Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.     </p>
                    </div>
                </div>
            </div>
            <!--Start item-->
            <div class="col-md-4">
                <div class="item-about item-choose">
                    <div class="icon">
                        <i class="pe-7s-paint"></i>
                        <div class="bg-icon"><i class="pe-7s-paint"></i></div>
                    </div>
                    <div class="content">
                        <h3>Easy <span>customized</span></h3>
                        <p>Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
