<section id="portfolio" data-image="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/background-cascadia.webp" class="section-portfolio bg-white-section background-image">
    @*==============================================HEADER==============================================*@
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <div class="heading-title center">
                    <h2>Some of our <span>work</span></h2>
                    <div class="small-desd"><span>From our </span>public portfolio</div>
                    @*<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum</p>*@
                </div>
                <div class="controls-portfolio center">
                    <ul id="control-portfolio" class="text-center">
                        <li id="liact" data-filter="*" class="filter select-cat active">All</li>
                        <li data-filter=".category-1" class="filter">Mapping deliverables</li>
                        <li data-filter=".category-2" class="filter">3D renders</li>
                        <li data-filter=".category-3" class="filter">Inspections</li>
                        <li data-filter=".category-4" class="filter">Beauty shots</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            @*==============================================Start of header tiles ==============================================*@
            <div class="portfolio portfolio-items">
                <!-- Next tile-->
                <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 item-portfolio portfolio-item category-4">
                    <a href="#image-modal" target="_blank" rel="noopener noreferrer" title="" data-toggle="modal" data-target=".modal1" class="image-modal">
                        <div class="item-wrap dh-container">
                            <img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portafolio1-preview.webp" alt="img09">
                            <div class="content dh-overlay">
                                <div class="tizer-circle"><i class="fa fa-picture-o"> </i></div>
                                <div class="content-wrap">
                                    <div class="content-va">
                                        <h2>Redmond hotel</h2>
                                        <p>Commercial Real Estate photo shoot</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Next tile-->
                <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 item-portfolio portfolio-item category-1">
                    <a href="#image-modal-1" target="_blank" rel="noopener noreferrer" title="" data-toggle="modal" data-target=".modal1" class="image-modal-gallery">
                        <div class="item-wrap dh-container">
                            <img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-2-preview.webp" alt="img09">
                            <div class="content dh-overlay">
                                <div class="tizer-circle"><i class="fa fa-indent"></i></div>
                                <div class="content-wrap">
                                    <div class="content-va">
                                        <h2>Bulk aggregation materials storage</h2>
                                        <p>Relief representations</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Next tile-->
                <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 item-portfolio portfolio-item category-1 category-2">
                    <a href="#image-modal-8" target="_blank" rel="noopener noreferrer" title="" data-toggle="modal" data-target=".modal1" class="image-modal">
                        <div class="item-wrap dh-container">
                            <img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-gravelsite-preview.webp" alt="img09">
                            <div class="content dh-overlay">
                                <div class="tizer-circle"><i class="fa fa-youtube-play"></i></div>
                                <div class="content-wrap">
                                    <div class="content-va">
                                        <h2>Construction material company</h2>
                                        <p>3D meshes and mapping deliverables</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Next tile-->
                <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 item-portfolio portfolio-item category-4">
                    <a href="#image-modal-2" target="_blank" rel="noopener noreferrer" title="" data-toggle="modal" data-target=".modal1" class="image-modal">
                        <div class="item-wrap dh-container">
                            <img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portafolio3-preview.webp" alt="img09">
                            <div class="content dh-overlay">
                                <div class="tizer-circle"><i class="fa fa-youtube-play"></i></div>
                                <div class="content-wrap">
                                    <div class="content-va">
                                        <h2>Shannon waterfalls</h2>
                                        <p>Beauty nature shots</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Next tile-->
                <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 item-portfolio portfolio-item category-2">
                    <a href="#image-modal-progressreport" target="_blank" rel="noopener noreferrer" title="" data-toggle="modal" data-target=".modal1" class="image-modal-gallery">
                        <div class="item-wrap dh-container">
                            <img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-progressreport-preview.webp" alt="img09">
                            <div class="content dh-overlay">
                                <div class="tizer-circle"><i class="fa fa-indent"></i></div>
                                <div class="content-wrap">
                                    <div class="content-va">
                                        <h2>Construction site</h2>
                                        <p>Construction site progress report</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Next tile-->
                <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 item-portfolio portfolio-item category-1 category-3">
                    <a href="#image-modal-5" target="_blank" rel="noopener noreferrer" title="" data-toggle="modal" data-target=".modal1" class="image-modal">
                        <div class="item-wrap dh-container">
                            <img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-preview5.webp" alt="img09">
                            <div class="content dh-overlay">
                                <div class="tizer-circle"><i class="fa fa-picture-o"> </i></div>
                                <div class="content-wrap">
                                    <div class="content-va">
                                        <h2>Construction site</h2>
                                        <p>2D maps and orthomosaic photography</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Next tile-->
                <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 item-portfolio portfolio-item category-2 category-4">
                    <a href="#image-modal-company-campus" target="_blank" rel="noopener noreferrer" title="" data-toggle="modal" data-target=".modal1" class="image-modal">
                        <div class="item-wrap dh-container">
                            <img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-3drenderRtc-preview.webp" alt="img09">
                            <div class="content dh-overlay">
                                <div class="tizer-circle"><i class="fa fa-picture-o"> </i></div>
                                <div class="content-wrap">
                                    <div class="content-va">
                                        <h2>Company campus</h2>
                                        <p>3D mesh renders</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Next tile-->
                <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 item-portfolio portfolio-item category-1">
                    <a href="#image-modal-6" target="_blank" rel="noopener noreferrer" title="" data-toggle="modal" data-target=".modal1" class="image-modal">
                        <div class="item-wrap dh-container">
                            <img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-6preview.webp" alt="img09">
                            <div class="content dh-overlay">
                                <div class="tizer-circle"><i class="fa fa-picture-o"> </i></div>
                                <div class="content-wrap">
                                    <div class="content-va">
                                        <h2>Material storage</h2>
                                        <p>Volume calculations</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Next tile-->
                <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 item-portfolio portfolio-item category-3">
                    <a href="#image-modal-7" target="_blank" rel="noopener noreferrer" title="" data-toggle="modal" data-target=".modal1" class="image-modal-gallery">
                        <div class="item-wrap dh-container">
                            <img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-7preview.webp" alt="img09">
                            <div class="content dh-overlay">
                                <div class="tizer-circle"><i class="fa fa-indent"></i></div>
                                <div class="content-wrap">
                                    <div class="content-va">
                                        <h2>Cellphone tower</h2>
                                        <p>Infrastructure inspections</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Next tile-->
                <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 item-portfolio portfolio-item category-2 category-3">
                    <a href="#image-modal-interiormapping" target="_blank" rel="noopener noreferrer" title="" data-toggle="modal" data-target=".modal1" class="image-modal-gallery">
                        <div class="item-wrap dh-container">
                            <img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-3drenderinterior-preview.webp" alt="img09">
                            <div class="content dh-overlay">
                                <div class="tizer-circle"><i class="fa fa-indent"></i></div>
                                <div class="content-wrap">
                                    <div class="content-va">
                                        <h2>Interior point cloud capture</h2>
                                        <p>Product in development</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Next tile-->
                <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 item-portfolio portfolio-item category-3">
                    <a href="#image-modal-12" target="_blank" rel="noopener noreferrer" title="" data-toggle="modal" data-target=".modal1" class="image-modal-gallery">
                        <div class="item-wrap dh-container">
                            <img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-fire-preview.webp" alt="img09">
                            <div class="content dh-overlay">
                                <div class="tizer-circle"><i class="fa fa-indent"></i></div>
                                <div class="content-wrap">
                                    <div class="content-va">
                                        <h2>Laundromat fire</h2>
                                        <p>Disaster documentation for insurance</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Next tile-->
                <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 item-portfolio portfolio-item category-4">
                    <a href="#image-modal-3" target="_blank" rel="noopener noreferrer" title="" data-toggle="modal" data-target=".modal1" class="image-modal">
                        <div class="item-wrap dh-container">
                            <img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-preview4.webp" alt="img09">
                            <div class="content dh-overlay">
                                <div class="tizer-circle"><i class="fa fa-youtube-play"></i></div>
                                <div class="content-wrap">
                                    <div class="content-va">
                                        <h2>Tulip farms</h2>
                                        <p>Advertising videos</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                @*==============================================Start of content of portfolio sections ==============================================*@
                <div id="image-modal" class="modal-box mfp-hide">
                    <img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portafolio1-window.webp" alt="work" class="img-responsive">
                    <div class="modal-box-content">
                        <h2><span>Redmond Hotel</span> shoot</h2>
                        <p>
                            A very common recipient of drone services is the commercial real estate industry. To complement the interior and ground exterior shots, a shot like this can add a very nice dimensionality and perspective of the building. Hotels and resorts are amongst the most aerially-photographed buildings.
                        </p>
                        <hr>
                        @*<h3>Detalis</h3>
                <ul class="list-project">
                    <li><b>Client: </b></li>
                    <li><b>Date: </b></li>
                    <li><b>Live: </b><a href="#">View project<i aria-hidden="true" class="fa fa-external-link"></i></a></li>
                </ul>*@
                        @*<hr>
                <div class="buttons-section center"><a href="project-single.html" class="btn accent-br-btn large-btn">See project</a></div>*@
                    </div>
                    <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                </div>
                @*Next project: Relief representations*@
                <div id="image-modal-1" class="modal-box mfp-hide">
                    <div class="slider-wrap gallery-slide">
                        <div class="slider-portfolio">
                            <div class="slide"><img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-2--1.webp" alt="work" class="img-responsive"></div>
                            <div class="slide"><img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-2--2.webp" alt="work" class="img-responsive"></div>
                            <div class="slide"><img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-2--3.webp" alt="work" class="img-responsive"></div>
                            <div class="slide"><img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-2--4.webp" alt="work" class="img-responsive"></div>
                            <div class="slide"><img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-2--7.webp" alt="work" class="img-responsive"></div>
                            <div class="slide"><img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-2--5.webp" alt="work" class="img-responsive"></div>

                            <div class="slide"><img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-2--6.webp" alt="work" class="img-responsive"></div>

                        </div>
                        <!-- Strat Control carousel-->
                        <div id="control-portfolio-slider" class="prev-next-block-rotate opacity-control">
                            <div class="wrap-prev">
                                <div class="prev"><i aria-hidden="true" class="fa fa-angle-left"></i></div>
                            </div>
                            <div class="wrap-next">
                                <div class="next"><i aria-hidden="true" class="fa fa-angle-right"></i></div>
                            </div>
                        </div>
                        <!--Control sliders-->
                        <div id="dots-control-portfolio-slider" class="dots-control-carousel"></div>
                    </div>
                    <div class="modal-box-content">
                        <h2>Same data, <span>different information</span></h2>
                        <p>
                            In many scenarios such as construction sites, mines, landfills, stockyards, etc., there is an interest in knowing elevations of surfaces, including quantifiable data such as volumes of stockpiles.
                            Going beyond inventory of stockpiles, knowing details about the topography and geometric features of the land is of profound interest for surveying and geomatics.
                            Using post-processing with GIS and geospatial tools, we can generate multiple layers depicting different styles and tagged with different information and classification.
                        </p>
                        <hr>
                        @*<h3>Detalis</h3>
                <ul class="list-project">
                    <li><b>Client: </b></li>
                    <li><b>Date: </b></li>
                    <li><b>Live: </b><a href="#">View project<i aria-hidden="true" class="fa fa-external-link"></i></a></li>
                </ul>
                <hr>
                <div class="buttons-section center"><a href="project-single-gallery.html" class="btn accent-br-btn large-btn">See project</a></div>*@
                    </div>
                    <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                </div>
                @*Next project: Shannon falls*@
                <div id="image-modal-2" class="modal-box mfp-hide">
                    <div class="video-iframe">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/JYXgApUEUP0?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="modal-box-content">
                        <h2>Northwest <span>is best</span></h2>
                        <p>
                            Living in the Pacific Northwest gives me the opportunity of witnessing some of the most beautiful scenarios of the United States and Canada. Even though National Parks are off-limits due to restrictions to drones, there are many landscapes that can be captured, like the Shannon Falls, in British Columbia.
                        </p>
                        <hr>
                        @*<h3>Detalis</h3>
                <ul class="list-project">
                    <li><b>Client: </b></li>
                    <li><b>Date: </b></li>
                    <li><b>Live: </b><a href="#">View project<i aria-hidden="true" class="fa fa-external-link"></i></a></li>
                </ul>
                <hr>
                <div class="buttons-section center"><a href="project-single-youtube.html" class="btn accent-br-btn large-btn">See project</a></div>*@
                    </div>
                    <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                </div>
                <!--Next project-->
                <div id="image-modal-3" class="modal-box mfp-hide">
                    <div class="video-iframe">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Z-6jEMlKTeo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="modal-box-content">
                        <h2>Skagit county <span>tulips</span></h2>
                        <p>
                            I swear this is not the Netherlands! During tulip season the Skagit county in Washington state blooms with bright colors as many of the tulip farms open their doors to the public for them to enjoy
                            a walk, a selfie and take home some fresh-cut blossoms. This is a good example of some cinematic flying and editions available to complement your marketing strategy.
                        </p>
                        <hr>
                        @*<h3>Detalis</h3>
                <ul class="list-project">
                    <li><b>Client: </b></li>
                    <li><b>Date: </b></li>
                    <li><b>Live: </b><a href="#">View project<i aria-hidden="true" class="fa fa-external-link"></i></a></li>
                </ul>
                <hr>
                <div class="buttons-section center"><a href="project-single-youtube.html" class="btn accent-br-btn large-btn">See project</a></div>*@
                    </div>
                    <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                </div>
                <!--Next project-->
                <div id="image-modal-5" class="modal-box mfp-hide">
                    <img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-5.webp" alt="work" class="img-responsive">
                    <div class="modal-box-content">
                        <h2><span>Geometrical </span>correctness</h2>
                        <p>
                            This is an example of a typical "orthophoto" or "orthomosaic" photo. On a first observation, it seems to be just a photo taken from an aircraft, manned or unmanned, but there are some key differences: first, they offer a perspective from a higher altitude than allowed for  a drone to fly without the proper waivers.
                            Second, a single aerial photograph would introduce distortion due to the angled perspective  growing outward from the center of the image, the geometry of the lens, and the topographic features of the area.
                            These distortions are minimized through a process called orthorectifications. Learn more about orthomosaic photos here.
                        </p>
                        <hr>
                        @*<h3>Detalis</h3>
                <ul class="list-project">
                    <li><b>Client: </b></li>
                    <li><b>Date: </b></li>
                    <li><b>Live: </b><a href="#">View project<i aria-hidden="true" class="fa fa-external-link"></i></a></li>
                </ul>*@
                        @*<hr>
                <div class="buttons-section center"><a href="project-single.html" class="btn accent-br-btn large-btn">See project</a></div>*@
                    </div>
                    <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                </div>
                <!--Next project-->
                <div id="image-modal-6" class="modal-box mfp-hide">
                    <img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-6.webp" alt="work" class="img-responsive">
                    <div class="modal-box-content">
                        <h2><span>Know your inventory </span>to date</h2>
                        <p>
                            One of the most used deliverables in photogrammetry are volume calculations. Used in material inventory management, cut and fills, and for earth-moving planning.
                            A report can be prepared and delivered to you, or a point cloud can be uploaded to Pix4D Cloud and site managers can calculate volumes online and on-demand with a little ramp-up.
                        </p>
                        <hr>
                        @*<h3>Detalis</h3>
                <ul class="list-project">
                    <li><b>Client: </b></li>
                    <li><b>Date: </b></li>
                    <li><b>Live: </b><a href="#">View project<i aria-hidden="true" class="fa fa-external-link"></i></a></li>
                </ul>*@
                        @*<hr>
                <div class="buttons-section center"><a href="project-single.html" class="btn accent-br-btn large-btn">See project</a></div>*@
                    </div>
                    <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                </div>

                <!--Next project-->
                <div id="image-modal-7" class="modal-box mfp-hide">
                    <div class="slider-wrap gallery-slide">
                        <div class="slider-portfolio">
                            <div class="slide"><img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-7--1.webp" alt="work" class="img-responsive"></div>
                            <div class="slide"><img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-7--2.webp" alt="work" class="img-responsive"></div>
                            <div class="slide"><img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-7--3.webp" alt="work" class="img-responsive"></div>
                            <div class="slide"><img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-7--4.webp" alt="work" class="img-responsive"></div>

                        </div>
                        <!-- Strat Control carousel-->
                        <div id="control-portfolio-slider" class="prev-next-block-rotate opacity-control">
                            <div class="wrap-prev">
                                <div class="prev"><i aria-hidden="true" class="fa fa-angle-left"></i></div>
                            </div>
                            <div class="wrap-next">
                                <div class="next"><i aria-hidden="true" class="fa fa-angle-right"></i></div>
                            </div>
                        </div>
                        <!--Control sliders-->
                        <div id="dots-control-portfolio-slider" class="dots-control-carousel"></div>
                    </div>
                    <div class="modal-box-content">
                        <h2>Cellphone tower <span>visual inspection</span></h2>
                        <p>
                            While drones have pushed the industry forward in terms of efficiency and cost savings, the most valuable contribution is, hands down, the protection of life against hazards.
                            Safety is paramount when lives are involved in performing high risk operations where no matter how well all factors are assessed, there are potential deviations that can result in
                            bodily injury or even the loss of human life. The same way expensive robots are used to inspect hazardous sites, drones are able to perform visual inspections in situations
                            that otherwise are dangerous to observe personally.
                        </p>
                        <hr>
                        @*<h3>Detalis</h3>
                <ul class="list-project">
                    <li><b>Client: </b></li>
                    <li><b>Date: </b></li>
                    <li><b>Live: </b><a href="#">View project<i aria-hidden="true" class="fa fa-external-link"></i></a></li>
                </ul>
                <hr>
                <div class="buttons-section center"><a href="project-single-gallery.html" class="btn accent-br-btn large-btn">See project</a></div>*@
                    </div>
                    <button title="Close (Esc)" type="button" class="mfp-close" style="color:white">×</button>
                </div>

                @*Next project: Material aggregation company*@
                <div id="image-modal-8" class="modal-box mfp-hide">
                    <div class="video-iframe">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/C29pdAETCRU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="modal-box-content">
                        <h2>3D meshes of <span>worksites</span></h2>
                        <p>
                            With photogrammetry a lot of possibilities are open for you. From simply "visiting" a site virtually, to inspections, linear, area and volume calculations. By simply going online or loading the model
                            in your laptop or tablet, you can navigate at will throught the details of your site. Zoom in, take interesting measurements, make comments and annotations, share the model with stakeholders, etc.
                            Everything with information as recent as earlier that day.
                        </p>
                        <hr>
                        @*<h3>Detalis</h3>
                <ul class="list-project">
                    <li><b>Client: </b></li>
                    <li><b>Date: </b></li>
                    <li><b>Live: </b><a href="#">View project<i aria-hidden="true" class="fa fa-external-link"></i></a></li>
                </ul>
                <hr>
                <div class="buttons-section center"><a href="project-single-youtube.html" class="btn accent-br-btn large-btn">See project</a></div>*@
                    </div>
                    <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                </div>
                @*Next project: Fire inspection*@
                <div id="image-modal-12" class="modal-box mfp-hide">
                    <div class="slider-wrap gallery-slide">
                        <div class="slider-portfolio">
                            <div class="slide"><img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-fire-1.webp" alt="work" class="img-responsive"></div>
                            <div class="slide"><img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-fire-2.webp" alt="work" class="img-responsive"></div>
                            <div class="slide"><img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-fire-3.webp" alt="work" class="img-responsive"></div>
                            <div class="slide"><img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-fire-4.webp" alt="work" class="img-responsive"></div>
                        </div>
                        <!-- Strat Control carousel-->
                        <div id="control-portfolio-slider" class="prev-next-block-rotate opacity-control">
                            <div class="wrap-prev">
                                <div class="prev"><i aria-hidden="true" class="fa fa-angle-left"></i></div>
                            </div>
                            <div class="wrap-next">
                                <div class="next"><i aria-hidden="true" class="fa fa-angle-right"></i></div>
                            </div>
                        </div>
                        <!--Control sliders-->
                        <div id="dots-control-portfolio-slider" class="dots-control-carousel"></div>
                    </div>
                    <div class="modal-box-content">
                        <h2>Make an assesment <span>without moving from your office</span></h2>
                        <p>
                            Against all our wishes, eventualities happen. And during these you need all the tools you can count on to make the best out of the situation and mitigate all risks.
                            From domestic accidents to full-scale disasters, drones are now a fundamental tool for first responders and insurance companies.
                        </p>
                        <hr>
                        @*<h3>Detalis</h3>
                <ul class="list-project">
                    <li><b>Client: </b></li>
                    <li><b>Date: </b></li>
                    <li><b>Live: </b><a href="#">View project<i aria-hidden="true" class="fa fa-external-link"></i></a></li>
                </ul>
                <hr>
                <div class="buttons-section center"><a href="project-single-gallery.html" class="btn accent-br-btn large-btn">See project</a></div>*@
                    </div>
                    <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                </div>
                @*Next project: Construction progress report*@
                <div id="image-modal-progressreport" class="modal-box mfp-hide">
                    <div class="slider-wrap gallery-slide">
                        <div class="slider-portfolio">
                            <div class="slide"><img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-progressreport-1.webp" alt="work" class="img-responsive"></div>
                            <div class="slide"><img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-progressreport-2.webp" alt="work" class="img-responsive"></div>
                            <div class="slide"><img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-progressreport-3.webp" alt="work" class="img-responsive"></div>
                            <div class="slide"><img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-progressreport-4.webp" alt="work" class="img-responsive"></div>
                        </div>
                        <!-- Strat Control carousel-->
                        <div id="control-portfolio-slider" class="prev-next-block-rotate opacity-control">
                            <div class="wrap-prev">
                                <div class="prev"><i aria-hidden="true" class="fa fa-angle-left"></i></div>
                            </div>
                            <div class="wrap-next">
                                <div class="next"><i aria-hidden="true" class="fa fa-angle-right"></i></div>
                            </div>
                        </div>
                        <!--Control sliders-->
                        <div id="dots-control-portfolio-slider" class="dots-control-carousel"></div>
                    </div>
                    <div class="modal-box-content">
                        <h2>Keep tabs on your <span>progress</span></h2>
                        <p>
                            The construction industry is a trillion dollar industry. How much of that is on account of delays? It is difficult to understand progress and deviations from just data from traditional progress reports.
                            Obtaining images that are meaningful and provide actionable information is paramount for construction managers. On top of that, you can create 3D models and mapping deliverables that can
                            be compared against earlier reports and blueprints from your BIM solutions. Even though construction is the typical use case, you can keep track of anything aplicable. E.g. Keep track of changes in the erosion of a coastline.
                        </p>
                        <hr>
                        @*<h3>Detalis</h3>
                <ul class="list-project">
                    <li><b>Client: </b></li>
                    <li><b>Date: </b></li>
                    <li><b>Live: </b><a href="#">View project<i aria-hidden="true" class="fa fa-external-link"></i></a></li>
                </ul>
                <hr>
                <div class="buttons-section center"><a href="project-single-gallery.html" class="btn accent-br-btn large-btn">See project</a></div>*@
                    </div>
                    <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                </div>
                @*Next project: Company campus *@
                <div id="image-modal-company-campus" class="modal-box mfp-hide">
                    <img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-3drenderrtc.webp" alt="work" class="img-responsive">
                    <div class="modal-box-content">
                        <h2>3D just for the <span>beauty</span></h2>
                        <p>
                            3D models not only exist for engineering applications. Actually, they look pretty good too. Imagine showing your customers a 3D model of their future home. We have workflows to optimize our photogrammetry process for visual appeal in lieu of geolocation and scale accuracy.
                            We perform optimized mission planning, manual tie points, point cloud clean-up and surface complementation to create beautiful models.
                        </p>
                        <hr>
                        @*<h3>Detalis</h3>
                <ul class="list-project">
                    <li><b>Client: </b></li>
                    <li><b>Date: </b></li>
                    <li><b>Live: </b><a href="#">View project<i aria-hidden="true" class="fa fa-external-link"></i></a></li>
                </ul>*@
                        @*<hr>
                <div class="buttons-section center"><a href="project-single.html" class="btn accent-br-btn large-btn">See project</a></div>*@
                    </div>
                    @*Next project: Interior mapping*@
                    <div id="image-modal-interiormapping" class="modal-box mfp-hide">
                        <div class="slider-wrap gallery-slide">
                            <div class="slider-portfolio">
                                <div class="slide"><img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-3drenderinterior-1.webp" alt="work" class="img-responsive"></div>
                                <div class="slide"><img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/portfolio/portfolio-3drenderinterior-2.webp" alt="work" class="img-responsive"></div>
                            </div>
                            <!-- Strat Control carousel-->
                            <div id="control-portfolio-slider" class="prev-next-block-rotate opacity-control">
                                <div class="wrap-prev">
                                    <div class="prev"><i aria-hidden="true" class="fa fa-angle-left"></i></div>
                                </div>
                                <div class="wrap-next">
                                    <div class="next"><i aria-hidden="true" class="fa fa-angle-right"></i></div>
                                </div>
                            </div>
                            <!--Control sliders-->
                            <div id="dots-control-portfolio-slider" class="dots-control-carousel"></div>
                        </div>
                        <div class="modal-box-content">
                            <h2>We hear you, <span>we act</span></h2>
                            <p>
                                We are a company hungry for innovation and the satisfaction of our clients. We are constantly either learning and onboarding new products, as well as creating new products, using the
                                requests and inputs from our customers. One of the recurrent themes we hear is the ability to complement our external building modelling with interior modeling and point cloud capture.
                                Stay tuned for updates on this and other products in development though our newsletter, blog and social media.
                            </p>
                            <hr>
                            @*<h3>Detalis</h3>
                    <ul class="list-project">
                        <li><b>Client: </b></li>
                        <li><b>Date: </b></li>
                        <li><b>Live: </b><a href="#">View project<i aria-hidden="true" class="fa fa-external-link"></i></a></li>
                    </ul>
                    <hr>
                    <div class="buttons-section center"><a href="project-single-gallery.html" class="btn accent-br-btn large-btn">See project</a></div>*@
                        </div>
                        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                    </div>
                </div>
            </div>
    </div>
</section>