<section id="industries" data-image="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/background-construction.webp" class="section-team bg-white-section background-image">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <div class="heading-title center">
                    <h2>Industries</h2>
                    <div class="small-desd">That benefits from <span> drone and mapping operations</span></div>
                    @*<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum</p>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="item-team">
                    <div class="img-wrap">
                        <img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/industries-aec.webp" alt="img" class="img-responsive">
                        @*<div class="mask-info"></div>*@
                    </div>
                    <h2>Architecture</h2><span>, Engineering and Construction</span>
                    <p>From site planning to permanent record of installation. Including BIM and VDC, contractor management, etc. </p>
                </div>
            </div>
            <!--Start item team-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="item-team">
                    <div class="img-wrap">
                        <img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/industries-utilities.webp" alt="img" class="img-responsive">
                        @*<div class="mask-info"></div>*@
                    </div>
                    <h2>Utilities</h2><span> and Infrastructure</span>
                    <p>If its hard to reach, why risk a human to make observations? Send an unmanned vehicle to tell the story in real time. From roofing to cellphone tower inspections.</p>
                </div>
            </div>
            <!--Start item team-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="item-team">
                    <div class="img-wrap">
                        <img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/industries-mining.webp" alt="img" class="img-responsive">
                        @*<div class="mask-info"></div>*@
                    </div>
                    <h2>Mining</h2><span>and materials aggregation</span>
                    <p>Cut and fills, volume calculations, stock management, etc. Photogrammetry is revolutionizing this industry with quick, up-to-date volume calculations.</p>
                </div>
            </div>
            <!--Start item team-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="item-team">
                    <div class="img-wrap">
                        <img src="https://cascadian-aerial-robotics-cdn1.azureedge.net/img/industries-mkt.webp" alt="img" class="img-responsive">
                        @*<div class="mask-info"></div>*@
                    </div>
                    <h2>Marketing</h2><span>and branding</span>
                    <p>We like to think of ourselves as both geeks and artists. Enhance your ads and marketing materials with beauty shots from the air.</p>
                </div>
            </div>
        </div>
    </div>
</section>