<section data-image="img/bg1.jpg" class="section-team bg-white-section background-image">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <div class="heading-title center">
                    <h2>Industries</h2>
                    <div class="small-desd">That benefits from <span> drone and mapping operations</span></div>
                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="item-team">
                    <div class="img-wrap">
                        <img src="img/industry.jpg" alt="img" class="img-responsive">
                        <div class="mask-info"></div>
                    </div>
                    <h2>Architecture</h2><span>and Engineering</span>
                    <p>Quis ante nec nibh rhoncus vehicula. Quisque ac sagittis enim, id elementum lectus.</p>
                </div>
            </div>
            <!--Start item team-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="item-team">
                    <div class="img-wrap">
                        <img src="img/industry.jpg" alt="img" class="img-responsive">
                        <div class="mask-info"></div>
                    </div>
                    <h2>Construction</h2><span>and General contracting</span>
                    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus</p>
                </div>
            </div>
            <!--Start item team-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="item-team">
                    <div class="img-wrap">
                        <img src="img/industry.jpg" alt="img" class="img-responsive">
                        <div class="mask-info"></div>
                    </div>
                    <h2>Golf</h2><span>clubs</span>
                    <p>Orci varius natoque penatibus et magnis dis parturient montes</p>
                </div>
            </div>
            <!--Start item team-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="item-team">
                    <div class="img-wrap">
                        <img src="img/industry.jpg" alt="img" class="img-responsive">
                        <div class="mask-info"></div>
                    </div>
                    <h2>Marketing</h2><span>and branding</span>
                    <p>Phasellus condimentum odio varius ipsum luctus malesuada elementum nec turpis</p>
                </div>
            </div>
        </div>
    </div>
</section>