<section data-image="img/bg3.jpg" class="section-trigger bg-dark-section background-image" style="background-image: url(&quot;img/bg3.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-title small-heading center">
                    <h2>What we <span>do</span></h2>
                    <div class="small-desd"><span>We are passionate about problem solving and finding more cost-effective and innovative ways to improve people's lives and work, so they can also make a difference.
                    We do this by providing</span> commercial drone operations, mapping and geospatial solutions <span>in Washington State and west of the Cascades.</span></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-image="img/bg1.jpg" class="section-team bg-white-section background-image">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="item-team">
                    <div class="img-wrap">
                        <img src="~/img/whatwedo-mapping.jpg" alt="img" class="img-responsive" >
                        <div class="mask-info">
                            <ul class="social-links">
                                <!--TODO: Issue #8: Need to fix the for mobile and refactor styles into css class  -->
                                <li><a href="#" target="_blank" class="btn accent-btn large-btn" style="width:auto; height:auto; border-radius:30px; transform:none">More about mapping</a></li>
                            </ul>
                        </div>
                    </div>
                    <h2>Drone mapping </h2><span>and photogrammetry</span>
                    <p>Low altitude remote sensing for geospatial applications</p>
                </div>
            </div>
            <!--Start item team-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="item-team">
                    <div class="img-wrap">
                        <img src="~/img/whatwedo-construction.jpg" alt="img" class="img-responsive">
                        <div class="mask-info">
                            <ul class="social-links">
                                <!--TODO: Issue #8: Need to fix the for mobile and refactor styles into css class  -->
                                <li><a href="#" target="_blank" class="btn accent-btn large-btn" style="width:auto; height:auto; border-radius:30px; transform:none">More about inspection</a></li>
                            </ul>
                        </div>
                    </div>
                    <h2>Inspections </h2><span>for construction and infra</span>
                    <p>Documentation of state and progress on work sites</p>
                </div>
            </div>
            <!--Start item team-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="item-team">
                    <div class="img-wrap">
                        <img src="~/img/whatwedo-development.jpg" alt="img" class="img-responsive">
                        <div class="mask-info">
                            <ul class="social-links">
                                <!--TODO: Issue #8: Need to fix the for mobile and refactor styles into css class  -->
                                <li><a href="#" target="_blank" class="btn accent-btn large-btn" style="width:auto; height:auto; border-radius:30px; transform:none">More about integration</a></li>
                            </ul>
                        </div>
                    </div>
                    <h2>Integration and </h2><span>Development</span>
                    <p>GIS and traditional programming and integration</p>
                </div>
            </div>
            <!--Start item team-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="item-team">
                    <div class="img-wrap">
                        <img src="~/img/whatwedo-media.jpg" alt="img" class="img-responsive">
                        <div class="mask-info">
                            <ul class="social-links">
                                <!--TODO: Issue #8: Need to fix the for mobile and refactor styles into css class  -->
                                <li><a href="#" target="_blank" class="btn accent-btn large-btn" style="width:auto; height:auto; border-radius:30px; transform:none">More about video and photo</a></li>
                            </ul>
                        </div>
                    </div>
                    <h2>Aerial Video and Photography</h2><span>Capture and edition.</span>
                    <p>Drone and ground imagery, edition and color grading</p>
                </div>
            </div>
        </div>
    </div>
</section>