<section id="about" class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <div class="heading-title center">
                    <h2>Who are <span>we</span></h2>
                    <div class="small-desd">We provide <span>drone and mapping services</span> to the Western Washington area, west of the Cascades.</div>
                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="item-about">
                    <div class="icon">
                        <i class="pe-7s-target"></i>
                        <div class="bg-icon"><i class="pe-7s-target"></i></div>
                    </div>
                    <div class="content">
                        <h3>Web <span>development</span></h3>
                        <p>Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.drerit elit sed, condimentum magna. Suspendisse imperdiet purus vel drerit elit sed, condimentum magna. Suspendisse imperdiet purus vel</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item-about">
                    <div class="icon">
                        <i class="pe-7s-help2"></i>
                        <div class="bg-icon"><i class="pe-7s-help2"></i></div>
                    </div>
                    <div class="content">
                        <h3>context <span>advertising</span></h3>
                        <p>Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.drerit elit sed, condimentum magna. Suspendisse imperdiet purus vel drerit elit sed, condimentum magna. Suspendisse imperdiet purus vel</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item-about">
                    <div class="icon">
                        <i class="pe-7s-light"></i>
                        <div class="bg-icon"><i class="pe-7s-light"></i></div>
                    </div>
                    <div class="content">
                        <h3>Internet <span>marketing</span></h3>
                        <p>Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.drerit elit sed, condimentum magna. Suspendisse imperdiet purus vel drerit elit sed, condimentum magna. Suspendisse imperdiet purus vel</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>