<section id="services" data-image="img/background-nikehq.jpg" class="services-section background-image bg-dark-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <div class="heading-title small-heading center">
                    <h2>Our <span>services</span></h2>
                    <p>
                        While we provide the mentioned services, we are not limited to. We are passionate about problem solving and we are happy to hear your specific needs and we are always developing new products.<br />
                        <span class="link-full">To learn more about upcoming and under development services <a href="">Read here<i aria-hidden="true" class="fa fa-angle-right"></i></a></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tabs services-tabs">
                <ul class="services-carousel">
                    <li class="animated-service anim-shadow">
                        <a href="#tabs-2">
                            <i class="pe-7s-map-2"></i>
                            <h4>Drone mapping and photogrammetry</h4>
                            <p>Low altitude remote sensing for geospatial applications</p>
                        </a>
                    </li>
                    <li class="animated-service anim-shadow">
                        <a href="#tabs-1">
                            <i class="pe-7s-lintern"></i>
                            <h4>Inspections for construction and infra</h4>
                            <p>Documentation of state and progress on work sites</p>
                        </a>
                    </li>
                    <li class="animated-service anim-shadow">
                        <a href="#tabs-3">
                            <i class="pe-7s-mouse"></i>
                            <h4>Integration and development</h4>
                            <p>GIS and traditional programming and integration</p>
                        </a>
                    </li>
                    <li class="animated-service anim-shadow">
                        <a href="#tabs-4">
                            <i class="pe-7s-video"></i>
                            <h4>Aerial video and photography</h4>
                            <p>Drone and ground imagery, edition and color grading</p>
                        </a>
                    </li>
                </ul>
                <div id="dots-control-tabs" class="dots-control-carousel"></div>
                <!--Start tabs-->
                <div id="tabs-1">
                    <div class="col-md-6">
                        <div class="head-service small-head text-left">
                            <h2><span style="color: #927453">Inspections for construction and infra</span></h2>
                            <p>
                                The construction industry has been widely the most adopted and most benefited from unmanned aerial vehicles entering the commercial space.
                                If you are not already using drones in your site, you came to the right place. If you are looking to build an enterprise drone program for your
                                construction firm, you came to the right place too. Even if you already have a program in place,  we can help you implement more workflows.
                            </p>
                        </div>
                        <p>We can collaboratively enhance the following workflows for you&#58;</p>
                    </div>
                    <div class="col-md-5 col-md-push-1">
                        <ul class="list">
                            <li>Construction site progression reports.</li>
                            <li>Identification of safety hazards.</li>
                            <li>3D modeling and rendering of site.</li>
                            <li>Virtual visits and walkthroughs with AR &#47; VR.</li>
                            <li>Pre-construction and site planning and documentation.</li>
                            <li>Contractor management.</li>
                            <li>As-builts and permanent record of installation.</li>
                            <li>Volume calculations for cut and fill, earthworks, stockpile or material inventory.</li>
                            <li>Distance and surface area calculations.</li>
                            <li>Visual cellphone tower, roof, bridges and other infrastructure inspections.</li>
                            <li>and more...</li>
                        </ul>
                    </div>
                </div>
                <div id="tabs-2">
                    <div class="col-md-6">
                        <div class="head-service small-head text-left">
                            <h2><span style="color: #927453">Drone mapping and photogrammetry</span></h2>
                            <p>
                                Our favorite area of expertise. We fly drones with high quality global shutter cameras, and shoot multiple overlapping images of a point of interest.
                                Then, using a process called &quot;Photogrammetry&quot; we process the images to create 2D maps, and 3D models of the target site. Optionally, we use
                                GPS equipment to geo-locate and improve the accuracy of the model to be certified for more advanced engineering applications.
                                From there we are just limited by imagination.
                            </p>
                        </div>
                        <p>We can extract a wealth of information and generate multiple deliverables, including but not limited to&#58;</p>
                    </div>
                    <div class="col-md-5 col-md-push-1">
                        <ul class="list">
                            <li>Point clouds for 3D modeling.</li>
                            <li>Textured meshes for 3D rendering.</li>
                            <li>Orthomosaic 2D maps.</li>
                            <li>Geolocated and georectified maps.</li>
                            <li>Digital Elevation &#47; Terrain &#47; Surface models.</li>
                            <li>Contour line maps.</li>
                            <li>Hillshade maps.</li>
                            <li>Distance, area and volume estimations.</li>
                            <li>Survey data capture.</li>
                            <li>GNSS ground control shooting.</li>
                            <li>and more...</li>
                        </ul>
                    </div>
                </div>
                <div id="tabs-3">
                    <div class="col-md-6">
                        <div class="head-service small-head text-left">
                            <h2><span style="color: #927453">Integration and development</span></h2>
                        </div>
                        <p>
                            Deliverables don't exist in a vacuum. And if we live by our value of delivering outcomes rather than just outputs, we need to help you well past beyond the capture of visual data.
                            We are here to help you integrate this data into yours or other systems. We will apply our knowledge to help you transform, analyze and create insights that are useful and actionable.
                            This company was born from software engineering, so feel free to ask for anything related to processing, integrating, developing, analyzing and application of machine learning, computer vision and AI.
                            We can m ake it happen.

                        </p>
                    </div>
                    <div class="col-md-5 col-md-push-1">
                        <ul class="list">
                            <li>Integration into BIM and VDC Software (Revit, Autocad, etc).</li>
                            <li>Point cloud edition and cleanup.</li>
                            <li>Edition, analysis and extraction of geospatial information with Quantum GIS.</li>
                            <li>GIS workflow &#47; application development.</li>
                            <li>General desk, mobile and web application development &#47; integration.</li>
                            <li>Lift-up and hosting of deliverables.</li>
                            <li>and more...</li>
                        </ul>
                    </div>
                </div>
                <div id="tabs-4">
                    <div class="col-md-6">
                        <div class="head-service small-head text-left">
                            <h2><span style="color: #927453">Aerial video and photography</span></h2>
                        </div>
                        <p>Before any other application, drones found a niche in the field of photography.</p>
                        <p>
                            Drones are essentially a high-quality flying camera. They can offer a perspective that no traditional camera can. From high resolution 20 Megapixel HDR photographs,
                            to 4K video and HD upto 60fps and 120fps in slow-motion.
                        </p>
                        <p>
                            Beyond beauty shots, aerial photography and video (including live video) can be of assistance in many interesting scenarios limited just by your imagination, such as livestock monitoring,
                            news coverage, wildlife observation and it's even becoming a favorite for first responders doing crowd control, disaster assesment, safe fire visual assistance, etc.
                        </p>
                    </div>
                    <div class="col-md-5 col-md-push-1">
                        <ul class="list">
                            <li>Commercial and Residential Real Estate photography and video.</li>
                            <li>Event filming and photography, live monitoring and/or streamming to the internet.</li>
                            <li>Live inspection of lands, sites, incidents, etc.</li>
                            <li>Post-Catastrophe and incident documentation and inspection.</li>
                            <li>Assistance in search and rescue (Optical only).</li>
                            <li>Movie footage filming.</li>
                            <li>Marketing and branding footage filming.</li>
                            <li>Camera rig operation.</li>
                            <li>Ground photography.</li>
                            <li>Photography development, HDR, stack bracketing, etc.</li>
                            <li>Video edition, color grading and assembly, with captioning and effects.</li>
                            <li>and more...</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <p>Please note that while we can assist in daytime wildlife observation and tracking <span style="color:orangered">WE DO NOT PROVIDE ASSISTANCE FOR HUNTING</span> based on ethical grounds.</p>
                <div class="link-full"><a href="">View all services<i aria-hidden="true" class="fa fa-angle-right"></i></a></div>
            </div>
        </div>
    </div>
</section>