<section id="services" data-image="img/bg2.jpg" class="services-section background-image bg-dark-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <div class="heading-title small-heading center">
                    <h2>Our <span>services</span></h2>
                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tabs services-tabs">
                <ul class="services-carousel">
                    <li class="animated-service anim-shadow">
                        <a href="#tabs-1">
                            <i class="pe-7s-hammer"></i>
                            <h4>Construction and Inspections</h4>
                            <p>Architecture, Engineering and Construction in general</p>
                        </a>
                    </li>
                    <li class="animated-service anim-shadow">
                        <a href="#tabs-2">
                            <i class="pe-7s-map"></i>
                            <h4>UAV mapping</h4>
                            <p>Low altitude remote sensing for mapping and 3D modeling</p>
                        </a>
                    </li>
                    <li class="animated-service anim-shadow">
                        <a href="#tabs-3">
                            <i class="pe-7s-timer"></i>
                            <h4>dolor </h4>
                            <p>Claritas est etiam processus dynamicus, qui sequitur.</p>
                        </a>
                    </li>
                    <li class="animated-service anim-shadow">
                        <a href="#tabs-4">
                            <i class="pe-7s-map"></i>
                            <h4>amet</h4>
                            <p>Claritas est etiam processus dynamicus, qui sequitur.</p>
                        </a>
                    </li>
                </ul>
                <div id="dots-control-tabs" class="dots-control-carousel"></div>
                <!--Start tabs-->
                <div id="tabs-1">
                    <div class="col-md-6">
                        <div class="head-service small-head text-left">
                            <h2><span style="color: #927453">Construction and Inspections</span></h2>
                            <p>The construction industry has been widely the most adopted and most benefited from unmanned aerial vehicles entering the commercial space.
                            If you are not already using drones in your site, you came to the right place. If you are looking to build an enterprise drone program for your
                            construction firm, you came to the right place too. Even if you already have a program in place,  we can help you implement more workflows.
                            </p>
                        </div>
                        <p>We can collaboratively enhance the following workflows for you&#58;</p>
                    </div>
                    <div class="col-md-5 col-md-push-1">
                        <ul class="list">
                            <li >Construction site progression reports.</li>
                            <li >dentification of safety hazards.</li>
                            <li >3D modeling and rendering of site.</li>
                            <li >Virtual visits.</li>
                            <li >Site planning.</li>
                            <li >Contractor management.</li>
                            <li >Permanent record of installation.</li>
                            <li >Volume calculations for cut and fill or material inventory.</li>
                            <li >Distance and aera calculations.</li>
                            <li >Marketing.</li>
                            <li >Cell tower inspections.</li>
                            <li >and more...</li>
                        </ul>
                    </div>
                </div>
                <div id="tabs-2">
                    <div class="col-md-6">
                        <div class="head-service small-head text-left">
                            <h2><span style="color: #927453">UAV Mapping</span></h2>
                            <p>
                                Our favorite area of expertise. We fly drones with high quality global shutter cameras, and shoot multiple overlapping images of a point of interest.
                                Then, using a process called &quot;Photogrammetry&quot; we process the images to create 2D maps, and 3D models of the target site. Optionally, we use 
                                GPS equipment to geo-locate and improve the accuracy of the model to be certified for more advanced engineering applications.
                                From there we are just limited by imagination.
                            </p>
                        </div>
                        <p>We can extract a wealth of information and generate multiple deliverables, including but not limited to&#58;</p>
                    </div>
                    <div class="col-md-5 col-md-push-1">
                        <ul class="list">
                            <li>Point clouds.</li>
                            <li>3D meshes.</li>
                            <li>Orthomosaic 2D maps.</li>
                            <li>Digital Elevation models.</li>
                            <li>Digial Surface models.</li>
                            <li>Contour line maps.</li>
                            <li>and more...</li>
                        </ul>
                    </div>
                </div>
                <div id="tabs-3">
                    <div class="col-md-6">
                        <div class="head-service small-head text-left">
                            <h2>Morbi accumsan dictum elit ac venenatis. Maecenas nec auctor eros, <span>at laoreet ex.</span></h2>
                            <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum</p>
                        </div>
                        <p>Tab 1 Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et . Mauris </p>
                    </div>
                    <div class="col-md-5 col-md-push-1">
                        <ul class="list">
                            <li>Curabitur scelerisque felis non pulvinar</li>
                            <li>ullam dapibus laoreet dolo</li>
                            <li> Etiam semper odio at </li>
                            <li>Phasellus gravida ante ligul</li>
                            <li> sit amet dignissim tellus sodales v</li>
                            <li>Nulla vestibulum leo</li>
                            <li>ivamus lobortis laoreet placerat</li>
                            <li>Ta lectus euismod porta. </li>
                            <li>tiam ornare, urna quis pharetra commodo</li>
                            <li>and more...</li>
                        </ul>
                    </div>
                </div>
                <div id="tabs-4">
                    <div class="col-md-6">
                        <div class="head-service small-head text-left">
                            <h2>Never fall in love with an idea. If the the <span>job, there’s always another.</span></h2>
                        </div>
                        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum</p>
                        <p>Tab 1 Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et . Mauris </p>
                    </div>
                    <div class="col-md-5 col-md-push-1">
                        <ul class="list">
                            <li>Curabitur scelerisque felis non pulvinar</li>
                            <li>ullam dapibus laoreet dolo</li>
                            <li> Etiam semper odio at </li>
                            <li>Phasellus gravida ante ligul</li>
                            <li> sit amet dignissim tellus sodales v</li>
                            <li>Nulla vestibulum leo</li>
                            <li>ivamus lobortis laoreet placerat</li>
                            <li>Ta lectus euismod porta. </li>
                            <li>tiam ornare, urna quis pharetra commodo</li>
                            <li>and more...</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="link-full"><a href="services.html">View all services<i aria-hidden="true" class="fa fa-angle-right"></i></a></div>
            </div>
        </div>
    </div>
</section>