<section id="services" data-image="img/bg2.jpg" class="services-section background-image bg-dark-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <div class="heading-title small-heading center">
                    <h2>Our <span>services</span></h2>
                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tabs services-tabs">
                <ul class="services-carousel">
                    <li class="animated-service anim-shadow">
                        <a href="#tabs-1">
                            <i class="pe-7s-graph"></i>
                            <h4>Lorem </h4>
                            <p>Claritas est etiam processus dynamicus, qui sequitur.</p>
                        </a>
                    </li>
                    <li class="animated-service anim-shadow">
                        <a href="#tabs-2">
                            <i class="pe-7s-drop"></i>
                            <h4>ipsum </h4>
                            <p>Claritas est etiam processus dynamicus, qui sequitur.</p>
                        </a>
                    </li>
                    <li class="animated-service anim-shadow">
                        <a href="#tabs-3">
                            <i class="pe-7s-timer"></i>
                            <h4>dolor </h4>
                            <p>Claritas est etiam processus dynamicus, qui sequitur.</p>
                        </a>
                    </li>
                    <li class="animated-service anim-shadow">
                        <a href="#tabs-4">
                            <i class="pe-7s-map"></i>
                            <h4>amet</h4>
                            <p>Claritas est etiam processus dynamicus, qui sequitur.</p>
                        </a>
                    </li>
                </ul>
                <div id="dots-control-tabs" class="dots-control-carousel"></div>
                <!--Start tabs-->
                <div id="tabs-1">
                    <div class="col-md-6">
                        <div class="head-service small-head text-left">
                            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit <span>Proin pretium malesuada leo id semper.</span></h2>
                            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In tempus porta volutpat. Suspendisse id facilisis lorem, et fringilla ipsum.uspendisse nec ante iaculis ipsum egestas porttitor vel a felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
                        </div>
                        <p>Donec efficitur maximus purus, a mattis mauris condimentum eget. Maecenas tellus felis, rutrum ac commodo in, tempus at lacus. </p>
                    </div>
                    <div class="col-md-5 col-md-push-1">
                        <ul class="list">
                            <li>Curabitur scelerisque felis non pulvinar</li>
                            <li>ullam dapibus laoreet dolo</li>
                            <li> Etiam semper odio at </li>
                            <li>Phasellus gravida ante ligul</li>
                            <li> sit amet dignissim tellus sodales v</li>
                            <li>Nulla vestibulum leo</li>
                            <li>ivamus lobortis laoreet placerat</li>
                            <li>Ta lectus euismod porta. </li>
                            <li>tiam ornare, urna quis pharetra commodo</li>
                            <li>and more...</li>
                        </ul>
                    </div>
                </div>
                <div id="tabs-2">
                    <div class="col-md-6">
                        <div class="head-service small-head text-left">
                            <h2>Sed quis ante neque. Nulla a viverra erat. Maecenas velit tellus <span>Vestibulum quis turpis mattis magna congue tempor vitae eu massa. Integer ultricies sit amet orci a pretium. </span></h2>
                            <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum</p>
                        </div>
                        <p>Tab 1 Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et . Mauris </p>
                    </div>
                    <div class="col-md-5 col-md-push-1">
                        <ul class="list">
                            <li>Curabitur scelerisque felis non pulvinar</li>
                            <li>ullam dapibus laoreet dolo</li>
                            <li> Etiam semper odio at </li>
                            <li>Phasellus gravida ante ligul</li>
                            <li> sit amet dignissim tellus sodales v</li>
                            <li>Nulla vestibulum leo</li>
                            <li>ivamus lobortis laoreet placerat</li>
                            <li>Ta lectus euismod porta. </li>
                            <li>tiam ornare, urna quis pharetra commodo</li>
                            <li>and more...</li>
                        </ul>
                    </div>
                </div>
                <div id="tabs-3">
                    <div class="col-md-6">
                        <div class="head-service small-head text-left">
                            <h2>Morbi accumsan dictum elit ac venenatis. Maecenas nec auctor eros, <span>at laoreet ex.</span></h2>
                            <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum</p>
                        </div>
                        <p>Tab 1 Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et . Mauris </p>
                    </div>
                    <div class="col-md-5 col-md-push-1">
                        <ul class="list">
                            <li>Curabitur scelerisque felis non pulvinar</li>
                            <li>ullam dapibus laoreet dolo</li>
                            <li> Etiam semper odio at </li>
                            <li>Phasellus gravida ante ligul</li>
                            <li> sit amet dignissim tellus sodales v</li>
                            <li>Nulla vestibulum leo</li>
                            <li>ivamus lobortis laoreet placerat</li>
                            <li>Ta lectus euismod porta. </li>
                            <li>tiam ornare, urna quis pharetra commodo</li>
                            <li>and more...</li>
                        </ul>
                    </div>
                </div>
                <div id="tabs-4">
                    <div class="col-md-6">
                        <div class="head-service small-head text-left">
                            <h2>Never fall in love with an idea. If the the <span>job, there’s always another.</span></h2>
                        </div>
                        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum</p>
                        <p>Tab 1 Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et . Mauris </p>
                    </div>
                    <div class="col-md-5 col-md-push-1">
                        <ul class="list">
                            <li>Curabitur scelerisque felis non pulvinar</li>
                            <li>ullam dapibus laoreet dolo</li>
                            <li> Etiam semper odio at </li>
                            <li>Phasellus gravida ante ligul</li>
                            <li> sit amet dignissim tellus sodales v</li>
                            <li>Nulla vestibulum leo</li>
                            <li>ivamus lobortis laoreet placerat</li>
                            <li>Ta lectus euismod porta. </li>
                            <li>tiam ornare, urna quis pharetra commodo</li>
                            <li>and more...</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="link-full"><a href="services.html">View all services<i aria-hidden="true" class="fa fa-angle-right"></i></a></div>
            </div>
        </div>
    </div>
</section>